body{
    background-color: brown;
}
h3,
h1 {
    color: rgb(60, 38, 222);
}

h2 {
    color: aqua;
    text-align: center;
}
.red{
    background-color: rgb(223, 197, 213);
}
/* #first{
    background-color: beige;
} */
#second{
    background-color: aquamarine;
    color: darkgreen;
    
}
#third{
    background-color: blanchedalmond;
    color: coral;
}
#four{
    background-color: aquamarine;
    /* color: black; */
}
a{
    color: darkred;
}